<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>后台管理—首页</title>
	<!-- The Main CSS File -->
	<link rel="stylesheet" href="../static/CSS/style.css" />
	<link rel="stylesheet" type="text/css" href="../static/font-awesome-4.4.0/css/font-awesome.min.css">

	<!-- jQuery -->
	<script src="../static/Javascript/jQuery/jquery-1.7.2.min.js"></script>
	<!-- jQuryUI -->
	<script src="../static/Javascript/jQueryUI/jquery-ui-1.8.21.min.js"></script>
	<!-- Uniform -->
	<script src="../static/Javascript/Uniform/jquery.uniform.js"></script>



<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body >

	<!-- Top Panel -->
	<div class="top_panel">
		<div class="wrapper">
			<div class="user">
				<img src="../static/Images/user_avatar.png" alt="user_avatar" class="user_avatar" />
				<span class="label">Logo</span>

			</div>
			<div class="top_links">
				<ul>
					<li>
						<a href="/login">
							<span class="label top-word"><i class="fa fa-sign-out fa-1_2x icon_top"></i>退出</span>
						</a>

					</li>
					<li>
						<a href="http://www.baidu.com">
							<span class="label top-word"><i class="fa fa-user fa-1_2x icon_top"></i>LoRaWANConfig</span>
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>



	<div class="wrapper contents_wrapper">

		<!-- 左侧导航 Begin-->

		<aside class="sidebar">
			<ul class="tab_nav">
				<li class="active_tab">
					<a href="/" title="首页">
						<span class="tab_label main_bar"><i class="fa fa-home fa-1_5x icon_main"></i><span class="main_bar_word">首页</span></span>
					</a>
				</li>
				<li>
					<a href="connection.html" title="连接">
						<span class="tab_label  main_bar"><i class="fa fa-link fa-1_5x icon_main"></i><span class="main_bar_word">连接</span></span>
					</a>
				</li>
				<li>
					<a href="lora.html" title="LoRa">
						<span class="tab_label  main_bar"><i class="fa fa-feed fa-1_5x icon_main"></i><span class="main_bar_word">LoRa</span></span>
					</a>
				</li>
				<li>
					<a href="user-mgt.html" title="用户">
						<i class="fa fa-lock fa-3x icon_short"></i><span class="tab_label">用户</span>
					</a>
				</li>
			</ul>
		</aside>
		<!-- 左侧导航 End-->



		<!-- 右侧2个方块，供占位用 Begin-->
		<div class="contents">
			<div class="grid_wrapper">

				<div class="g_6">
					<div class="widget_header total_width">
						<h4 class="widget_header_title wwIcon">网络状态</h4>
					</div>
					<div class="widget_contents total_width info_block">
						<div class="g_12">
							<div class="line_grid_no_border" >
								<div class="g_3">
									<p class="info_block_title">接收</p>
								</div>
								<div class="g_9">
									<p>数据包：{{.ethRxPackets}}</p>
									<p>字节数：{{.ethRxBytes}}</p>
									<p>错误：{{.ethRxErrors}}</p>
									<p>丢弃：{{.ethRxDropped}}</p>
								</div>
							</div>

							<div class="line_grid_no_border" >
								<div class="g_3">
									<p class="info_block_title">发送</p>
								</div>
								<div class="g_9">
									<p>数据包：{{.ethTxPackets}}</p>
									<p>字节数：{{.ethTxBytes}}</p>
									<p>错误：{{.ethTxErrors}}</p>
									<p>丢弃：{{.ethTxDropped}}</p>
									<p>冲突：{{.ethTxCollisions}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				

				<div class="g_6">
					<div class="widget_header total_width">
						<h4 class="widget_header_title wwIcon">无线</h4>
					</div>
					<div class="widget_contents total_width info_block">
						<div class="g_12">
							<div class="line_grid_no_border" >
								<div class="g_3">
									<p class="info_block_title">接收</p>
								</div>
								<div class="g_9">
                                    <p>数据包：{{.wlanRxPackets}}</p>
                                    <p>字节数：{{.wlanRxBytes}}</p>
                                    <p>错误：{{.wlanRxErrors}}</p>
                                    <p>丢弃：{{.wlanRxDropped}}</p>
								</div>
							</div>

							<div class="line_grid_no_border" >
								<div class="g_3">
									<p class="info_block_title">发送</p>
								</div>
								<div class="g_9">
                                    <p>数据包：{{.wlanTxPackets}}</p>
                                    <p>字节数：{{.wlanTxBytes}}</p>
                                    <p>错误：{{.wlanTxErrors}}</p>
                                    <p>丢弃：{{.wlanTxDropped}}</p>
                                    <p>冲突：{{.wlanTxCollisions}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 右侧2个方块，供占位用 End-->

	</div>

	<footer>
		<div class="wrapper">
			<span class="copyright">
				</span>
		</div>
	</footer>
</body>
</html>