<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>后台管理—Lora</title>
	<link href="../static/CSS/bootstrap.min.css" rel="stylesheet" />
	<link href="../static/CSS/buttons.css" rel="stylesheet" />
	<!-- The Main CSS File -->
	<link rel="stylesheet" href="../static/CSS/style.css" />
	<link rel="stylesheet" type="text/css" href="../static/CSS/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="../static/CSS/loading.css">
	<link rel="stylesheet" type="text/css" href="../static/CSS/pagination.css">
	<link rel="stylesheet" type="text/css" href="../static/font-awesome-4.4.0/css/font-awesome.min.css">

	<!-- jQuery -->
	<script src="../static/Javascript/jQuery/jquery-1.7.2.min.js"></script>

	<!-- DataTables -->
	<script src="../static/Javascript/DataTables/jquery.dataTables.min.js"></script>
	<!-- ColResizable -->
	<script src="../static/Javascript/ColResizable/colResizable-1.3.js"></script>
	<!-- jQuryUI -->
	<script src="../static/Javascript/jQueryUI/jquery-ui-1.8.21.min.js"></script>
	<!-- Uniform -->
	<script src="../static/Javascript/Uniform/jquery.uniform.js"></script>
	<script src="../static/Javascript/jQuery/modal.js"></script>
	<script src="https://cdn.bootcss.com/datatables/1.10.16/js/jquery.dataTables.js"></script>

	<script src="../static/Javascript/Lora.js"></script>
	<script src="../static/Javascript/LoraDataTable.js"></script>
	<script src="../static/Javascript/buttonAction.js"></script>
	<script src="../static/Javascript/pagination.js"></script>
	<script src="https://cdn.datatables.net/plug-ins/1.10.16/api/fnReloadAjax.js"></script>
	<script src="../static/Javascript/echarts.min.js"></script>
	<script src="../static/Javascript/loraTopology.js"></script>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<style type="text/css">
		#vert{
			height: 20px;
			position: relative;
		}
		#vert ul li{
			float: left;
			position: absolute;
			bottom: 0px;
			background-color: #006dcc;
			text-align: center;
			font-weight: bold;
			color: black;
			height: 100px;
			width:5px;
			list-style: none;
		}
	</style>
</head>

<body>

	<!-- Top Panel Begin-->
	<div class="top_panel">
		<div class="wrapper">
			<div class="user">
				<img src="../static/Images/user_avatar.png" alt="user_avatar" class="user_avatar" />
				<span class="label">Logo</span>

			</div>
			<div class="top_links">
				<ul>
					<li>
						<a href="#">
							<span class="label top-word"><i class="fa fa-sign-out fa-1_2x icon_top"></i>退出</span>
						</a>

					</li>
					<li>
						<a href="#">
							<span class="label top-word"><i class="fa fa-user fa-1_2x icon_top"></i>UserName</span>
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
	<!-- Top Panel End-->


	<!-- 左侧标准导航 （方块 + 名称）
	<div class="wrapper small_menu">
		<ul class="menu_small_buttons">
			<li><a title="General Info" class="i_22_dashboard smActive" href="#"></a></li>
			<li><a title="Your Messages" class="i_22_inbox" href="#"></a></li>
			<li><a title="Visual Data" href="connection.html"><i class="fa fa-home fa-2x"></i></a></li>
			<li><a title="Kit elements" class="i_22_ui" href="#"></a></li>
			<li><a title="Some Rows" class="i_22_tables" href="#"></a></li>
			<li><a title="Some Fields" class="i_22_forms" href="#"></a></li>
		</ul>
	</div>-->

	<div class="wrapper contents_wrapper">

		<!-- 左侧简易导航 （方块）-->
		<aside class="sidebar short">
			<ul class="tab_nav">

				<li>
					<a href="index.html" title="首页">
						<i class="fa fa-home fa-3x icon_short"></i><span class="tab_label">首页</span>
					</a>
				</li>
				<li>
					<a href="connection.html" title="连接">
						<i class="fa fa-link fa-3x icon_short"></i><span class="tab_label">连接</span>
					</a>
				</li>
				<li>
					<a href="#" title="无线">
						<i class="fa fa-wifi fa-3x icon_short"></i><span class="tab_label">无线</span>
					</a>
				</li>
				<li>
					<a href="#" title="安全">
						<i class="fa fa-lock fa-3x icon_short"></i><span class="tab_label">安全</span>
					</a>
				</li>
				<li class="active_tab">
					<a href="lora.html" title="Lora">
						<i class="fa fa-signal fa-3x icon_short"></i><span class="tab_label">Lora</span>
					</a>
				</li>
			</ul>
		</aside>


		<!-- 连接页面 Begin-->
		<div class="contents long">
			<div class="grid_wrapper">

				<div class="g_6 contents_header">
					<div><h3 class="tab_label">Lora</h3></div>
					<div><span class="label title_label">查看配置信息</span></div>
				</div>

				<!-- Tab 标签 Begin-->
				<div class="g_12" id="table_wTabs">

					<!-- Tab 标签设置 Begin-->
					<div class="widget_header wwOptions">
						<ul class="w_Tabs">
							<li><a href="#table_wTabs-1" title="系统配置参数">系统配置参数</a></li>
							<li><a href="#table_wTabs-2" title="应用">应用</a></li>
							<li><a href="#table_wTabs-3" title="网关">网关</a></li>
							<li id ="deviceTab"><a href="#table_wTabs-4" title="设备" onclick="setDevice()">设备</a></li>
							<li><a href="#table_wTabs-5" title="拓扑" onclick="setTopology()">拓扑</a></li>
							<li><a href="#table_wTabs-6" title="用户管理">用户管理</a></li>
						</ul>
					</div>
					<!-- Tab 标签设置 End-->

					<!-- Tab 标签具体页面 Begin-->
					<div class="widget_contents">
						<!-- Tab 1 系统配置参数 Begin -->
						<div id="table_wTabs-1">
							<div class="line_grid">

								<!-- 组织参数 Begin -->
								<div class="g_12">
									<div class="config_title">
										<span class="label content_title config_title_txt">组织</span>
									</div>
									<section class="config_table">
										<!-- 组织 Table Begin-->
										<table id="organizationTable" class="table table-striped table-bordered row-border hover order-column" cellspacing="0" width="100%" style="text-align: center;">
											<thead>
											<tr>
												<th style="width:30px !important;">序号</th>
												<th>名称</th>
												<th>显示名称</th>
												<th>是否有网关</th>
											</tr>
											</thead>
											<tbody></tbody>
										</table>
										<!-- 组织 Table End-->
									</section>
								</div>
								<!-- 组织参数 End -->
								<!-- 用户参数 Begin -->
								<div class="g_7">
									<div class="config_title">
										<span class="label content_title config_title_txt">用户</span>
									</div>
									<section class="config_table">
										<!-- 组织 Table Begin-->
										<table id="userTable" class="table table-striped table-bordered row-border hover order-column" cellspacing="0" width="100%" style="text-align: center;">
											<thead>
											<tr>
												<th>用户名</th>
												<th>激活</th>
												<th>管理员</th>
											</tr>
											</thead>
											<tbody></tbody>
										</table>
										<!-- 组织 Table End-->
									</section>
								</div>
								<!-- 用户参数 End -->
								<!-- 服务器参数 Begin -->
								<div class="g_5">
									<div class="config_title">
										<span class="label content_title config_title_txt">服务器</span>
									</div>
									<section class="config_table">
										<!-- 组织 Table Begin-->
										<table id="serverTable" class="table table-striped table-bordered row-border hover order-column" cellspacing="0" width="100%" style="text-align: center;">
											<thead>
											<tr>
												<th>名称</th>
												<th>服务器地址</th>
											</tr>
											</thead>
											<tbody></tbody>
										</table>
										<!-- 组织 Table End-->
									</section>
								</div>
								<!-- 服务器参数 End -->
							</div>
						</div>
						<!-- Tab 1 End -->

						<!-- 查看应用 modal Begin-->
						<div class="modal fade" id="viewAppInfo" role="dialog">
							<div class="modal-dialog" id ="appModalTab">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<!-- 网关Modal 中 Tab 标签设置 Begin-->
										<div class="widget_header wwOptions gatewayModal_header">
											设备
										</div>
										<!-- Tab 标签设置 End-->
									</div>

									<!-- 网关Modal 中 主体内容 Begin-->
									<div id="viewAppModal" class="modal-body">
										<!-- 应用设备 Begin-->
										<section class="config_table">
											<!-- 应用 Table Begin-->
											<table id="appDeviceTable" class="table table-striped table-bordered row-border hover order-column" cellspacing="0" width="100%" style="text-align: center;">
												<thead>
												<tr>
													<th>名称</th>
													<th>链路边际</th>
													<th>电量</th>
												</tr>
												</thead>
												<tbody></tbody>
											</table>
											<!-- 组织 Table End-->
										</section>
										<!-- 应用设备 End-->
									</div>
									<!-- 应用Modal 中 主体内容 End-->

									<div class="modal-footer">
										<div class="center-block">
											<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 查看应用 modal End-->

						<!-- Tab 2 应用 Begin -->
						<div id="table_wTabs-2">
							<div class="line_grid">
								<div class="g_12">
									<section class="config_table">
										<!-- 应用 Table Begin-->
										<table id="appTable" class="table table-striped table-bordered row-border hover order-column" cellspacing="0" width="100%" style="text-align: center;">
											<thead>
											<tr>
												<th style="width:30px !important;">序号</th>
												<th>所属组</th>
												<th>名称</th>
												<th>服务配置文件</th>
												<th>描述</th>
												<th>查看</th>
											</tr>
											</thead>
											<tbody></tbody>
										</table>
										<!-- 组织 Table End-->
									</section>
								</div>
							</div>
						</div>
						<!-- Tab 2 End -->


						<!-- 查看网关 modal Begin-->
						<div class="modal fade" id="viewGatewayInfo" role="dialog">
							<div class="modal-dialog" id ="gatewayModalTab">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<!-- 网关Modal 中 Tab 标签设置 Begin-->
										<div class="widget_header wwOptions gatewayModal_header">
											<ul class="w_Tabs">
												<li><a href="#ModalTab-1" title="网关详细信息">网关详细信息</a></li>
												<li><a href="#ModalTab-2" title="日志">日志</a></li>
											</ul>
										</div>
										<!-- Tab 标签设置 End-->
									</div>

									<!-- 网关Modal 中 主体内容 Begin-->
									<div id="viewGatewayModal" class="modal-body">
										<!-- 网关详细信息 Begin-->
										<div id="ModalTab-1">
											<h4 class="modal-title gatewayModal_title">108gateway</h4>
											<div class="form-horizontal">
												<div class="form-group">
													<label class="col-sm-3 control-label modal-label">MAC地址:</label>
													<div class="col-sm-9">
														<span class="form-control" id="gatewayMacAddress">a</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label modal-label-select">海拔:</label>
													<div class="col-sm-9">
														<span class="form-control" id="gatewayAltitude">0米</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label modal-label">GPS坐标系:</label>
													<div class="col-sm-9">
														<span class="form-control" id="gatewayCoordinates">0,0</span>
													</div>
												</div>
												<div class="form-group">
													<label  class="col-sm-3 control-label modal-label-select">最后一次出现:</label>
													<div class="col-sm-9">
														<span class="form-control" id="gatewayLastSeenAt">一个月以前</span>
													</div>
												</div>
											</div>
										</div>
										<!-- 网关详细信息 End-->
										<!-- 网关日志 Begin-->
										<div id="ModalTab-2">
											<h4 class="modal-title  gatewayModal_title">108gateway</h4>
											<div class="form-horizontal">
												<section class="config_table">
													<!-- 网关日志 Table Begin-->
													<table id="gatewayLogTable" class="table table-striped table-bordered row-border hover order-column" cellspacing="0" width="100%" style="text-align: center;">
														<thead>
														<tr>
															<th>接收</th>
															<th>RX/TX 参数</th>
															<th>LoraWAN PHYPayload</th>
														</tr>
														</thead>
														<tbody></tbody>
													</table>
													<!-- 网关日志 Table End-->
												</section>
											</div>
										</div>
										<!-- 网关日志 End-->
									</div>
									<!-- 网关Modal 中 主体内容 End-->

									<div class="modal-footer">
										<div class="center-block">
											<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 查看网关 modal End-->

						<!-- Tab 3 网关 Begin -->
						<div id="table_wTabs-3">
							<div class="line_grid">
								<section class="config_table">
									<!-- 网关 Table Begin-->
									<table id="gatewayTable" class="table table-striped table-bordered row-border hover order-column" cellspacing="0" width="100%" style="text-align: center;">
										<thead>
											<tr>
												<th>名称</th>
												<th>MAC地址</th>
												<th><div style="min-width: 180px !important;">网关活动（30天）</div></th>
												<th>查看</th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
									<!-- 网关 Table End-->
								</section>
							</div>
						</div>
						<!-- Tab 3 网关 End -->

						<!-- 查看设备 modal Begin-->
						<div class="modal fade" id="viewDeviceInfo" role="dialog">
							<div class="modal-dialog" id ="deviceModalTab">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<!-- 设备Modal 中 Tab 标签设置 Begin-->
										<div class="widget_header wwOptions gatewayModal_header">
												设备激活
										</div>
										<!-- Tab 标签设置 End-->
									</div>

									<!-- 设备Modal 中 主体内容 Begin-->
									<div id="viewDeviceModal" class="modal-body">
										<!-- 设备激活详细信息 Begin-->

											<div class="form-horizontal">
												<div class="form-group">
													<label class="col-sm-3 control-label modal-label">设备地址:</label>
													<div class="col-sm-9">
														<span class="form-control">abcdefghijhklhjkp</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label modal-label-select">网络会话密钥:</label>
													<div class="col-sm-9">
														<span class="form-control">8888888888888888888</span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label modal-label">应用会话密钥:</label>
													<div class="col-sm-9">
														<span class="form-control">888888888888888888888</span>
													</div>
												</div>
												<div class="form-group">
													<label  class="col-sm-3 control-label modal-label-select">上行帧计数器:</label>
													<div class="col-sm-9">
														<span class="form-control">4</span>
													</div>
												</div>
												<div class="form-group">
													<label  class="col-sm-3 control-label modal-label-select">下行帧计数器:</label>
													<div class="col-sm-9">
														<span class="form-control">5</span>
													</div>
												</div>
											</div>
										<!-- 设备激活详细信息 End-->
									</div>
									<!-- 设备Modal 中 主体内容 End-->

									<div class="modal-footer">
										<div class="center-block">
											<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 查看设备 modal End-->

						<!-- Tab 4 设备 Begin -->
						<div id="table_wTabs-4">
							<div class="line_grid">
								<section class="config_table" id="deviceSection">
									<div id="wrapper">
										<section>
											<div class="data-container"></div>
											<div id="pagination-table"></div>
										</section>
									</div>
								</section>
							</div>
						</div>
						<!-- Tab 4 设备 End -->

						<!-- Tab 5 拓扑 Begin -->
						<div id="table_wTabs-5">
							<div class="line_grid">
								<div id="container" style="width:800px;height:500px;"></div>
							</div>
						</div>
						<!-- Tab 5 拓扑 End -->

						<!-- Tab 6 用户管理 Begin -->
						<div id="table_wTabs-6">
							<div class="line_grid">

							</div>
						</div>
						<!-- Tab 6 用户管理 End -->

					</div>
					<!-- Tab 标签具体页面 End-->
				</div>
				<!-- Tab 标签 End-->
			</div>
		</div>

	</div>

	<!-- 应用与确定按钮后的 加载页面 Begin--->
	<div  id="loading" class="loading_main">
		<div class="loading_center">
			<div class="spinner" >
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
	</div>
	<!-- 应用与确定按钮后的 加载页面 End--->





	<footer>
		<div class="wrapper">

		</div>
	</footer>
</body>



</html>